<html>
    <head>
        	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    </head>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
        <div class="container">
                <div class="row fullscreen align-items-center justify-content-center">
                    <div class="banner-content col-lg-6 col-md-12">
                        <h1 class="text-uppercase">
                            Hate The Disease <br>
                            But Not The Diseased
                        </h1>
                        <p>
                            Help to eradicate and combat AIDS, so lives can be saved.
                        </p>
                        <button class="primary-btn2 mt-20 text-uppercase ">Get Started<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                    <div class="col-lg-6 d-flex align-self-end img-right">
                        <img class="img-fluid" src="img/b.png" alt="">
                    </div>
                </div>
        </div>
    </section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area section-gap" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-feature d-flex flex-row pb-30">
                        <div class="icon">
                            <span class="lnr lnr-rocket"></span>
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Operational Strategy</h4>
                            <p>
                                YACT operates mainly in Dzivarasekwa which is in Zvimba Rural District. YACT works in child friendly counseling <br>centres and will provide counseling within the community,but will not limit the services to Zvimba alone.<br> YACT will also work in conjunction with other organisations within and outside Dzivarasekwa to provide <br>care and support to the orphans affected or infected by HIV/AIDS.
                            </p>
                        </div>
                    </div>
                    <div class="single-feature d-flex flex-row pb-30">
                        <div class="icon">
                            <span class="lnr lnr-chart-bars"></span>
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Stigmatization</h4>
                            <p>
                                Stigma associated with HIV and AIDS related orphaned children.“Some people when they hear that someone’s HIV positive – especially us Africans – they’ll be seeing someone who’s dying, someone who is not supposed to touch anyone.” Stigma leads to people not being treated with dignity and respect. 
                            </p>
                        </div>
                    </div>
                    <div class="single-feature d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-bug"></span>
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Child headed families</h4>
                            <p>
                                The HIV/AIDS epidemic has led to many situations where both parents have died and left behind <br>a family of orphans.The children may begin taking over their parent's responsibilities before the last surviving <br>parent has died, when the parent is sick or too weak to work. The eldest children often have to stop <br>going to school and get a job instead in order to gain income for the family<br> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-feature d-flex flex-row pb-30">
                        <div class="icon">
                            <span class="lnr lnr-heart-pulse"></span>
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Why Dzivarasekwa ?</h4>
                            <p>
                                Dzivarasekwa Extension is a high density suburb located in the West of Harare. In the high density area there is a high prevalence of HIV and AIDS.. This has culminated into a high HIV related deaths leading to an increase in the number of HIV related orphans. While this has continued in Zimbabwe and the high density have not been spared 
                            </p>
                        </div>
                    </div>
                    <div class="single-feature d-flex flex-row pb-30">
                        <div class="icon">
                            <span class="lnr lnr-paw"></span>
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Child Prostitution</h4>
                            <p>
                                    Child prostitution is one of the most sinister and horrific acts that children may endure. It presents serious violations of human and child rights on children who are among the most vulnerable and impressionable in society.<br>                         </p>
                        </div>
                    </div>
                    <div class="single-feature d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-users"></span>
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Lack of Counselling</h4>
                            <p>
                                Counselling before and after being tested for HIV is a great opportunity to share important health information that can save lives. By using this guide community health care professionals may improve client service skills by: Understanding informed consent and its implications. <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End feature Area -->

<!-- Start blog Area -->
<section class="blog-area section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 pb-30 header-text">
                    <h1>Our Recent Blogs</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="single-blog col-lg-4 col-md-4">

                    <img class="f-img img-fluid mx-auto" src="img/b1.jpg" alt="">
                    <h4>
                        <a href="#">Portable Fashion for young women</a>
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
                         commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <img class="img-fluid" src="img/user.png" alt="">
                            <a href="#"><span>Mark Wiens</span></a>
                        </div>
                        <div class="meta">
                            13th Dec
                            <span class="lnr lnr-heart"></span> 15
                            <span class="lnr lnr-bubble"></span> 04
                        </div>
                    </div>
                </div>
                <div class="single-blog col-lg-4 col-md-4">
                    <img class="f-img img-fluid mx-auto" src="img/b2.jpg" alt="">
                    <h4>
                        <a href="#">Summer ware are coming</a>
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.
                         commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <img class="img-fluid" src="img/user.png" alt="">
                            <a href="#"><span>Mark Wiens</span></a>
                        </div>
                        <div class="meta">
                            13th Dec
                            <span class="lnr lnr-heart"></span> 15
                            <span class="lnr lnr-bubble"></span> 04
                        </div>
                    </div>
                </div>
                <div class="single-blog col-lg-4 col-md-4">
                    <img class="f-img img-fluid mx-auto" src="img/b3.jpg" alt="">
                    <h4>
                        <a href="#">Summer ware are coming</a>
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <img class="img-fluid" src="img/user.png" alt="">
                            <a href="#"><span>Mark Wiens</span></a>
                        </div>
                        <div class="meta">
                            13th Dec
                            <span class="lnr lnr-heart"></span> 15
                            <span class="lnr lnr-bubble"></span> 04
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- end blog Area -->
<router-outlet>
</router-outlet>
</html>